@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  background-color: #ffffff;
  list-style: none;
}

li, a, button {
  font-family:'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #737373;
  text-decoration: none;
}
header {
  position: fixed;
	width: 100%;
  top: 0;
	right: 0;
	z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10s;
}
.logo {
  cursor: pointer;
}
.nav__links {
  list-styles: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #000000
}
button {
  padding: 9px 25px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: #737373;
}