/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.container{
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D2D2D;
    column-gap: 30px;
}

top-container{
    float: right;
    position: right;
    top: 50px;
    right: 1px;
    font-size: 14px;
}

.top-container button{
 background-color: #2D2D2D;   
 color: #FFFFFF;
 float: right;
 border-color: #fff;
 border-radius: 5px;
 border-width: 0.2px;
 padding: 10px;
}

a.user{
    background-color: #2D2D2D;
    position: right;
    float: right;    
}

button:hover{
    background-color: #bcb6b6;
}

.top-container user-img{
    float: absolute;
    transform: translateY(-10%);
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #2D2D2D;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}
img.logo-img{
    position: relative;
    height: 100px;
    width: 100%;
}

form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #8F8F8F;
    transition: all 0.8s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #bcb6b6;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}
.form a{
    color: #FFFFFF;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Sign in with Email';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2D2D2D;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.remember-me{
    color:#FFFFFF;
}

.forgot-pass{
    float: right;
}
.login-lane{
    float:right;
}


img.google-img{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
a.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google{
    border: 1px solid #CACACA;
    background-color:white;
}

a.google:hover{
    background-color: #bcb6b6;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #2D2D2D;
}

@media screen and (max-width: 500px) {
    .form{
        padding: 20px 10px;
    }
    
}